@import '../styles/Variables.scss';

:local(.Home) {
  position: relative;
  min-height: 99vh;

  .name {
    font-size: 4rem;
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;

    .secondary-text {
      color: blue;
      margin-left: 1rem;
    }
  }

  .developer-text {
    font-size: 2rem;
    position: absolute;
    left: 0;
    top: 44%;
    width: 100%;
    text-align: center;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 17px;
    top: 47%;
    width: 100%;
  }
}
