:local(.Home) {
  .name {
    font-size: 4rem;
    margin-top: 20vh;
    .secondary-text {
      color: blue;
    }
  }
  .icon-container {
    display: flex;
    justify-content: center;

    .icon-buttons {
      font-size: 3rem;
      margin: 1rem;
    }
  }
  .footer-name-copyright {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
  }
  .hamburger-menu-icon,
  .XMark-icon {
    font-size: 2.4rem;
    position: fixed;
    top: 0;
    right: 0;
  }
}
