:local(.Home) {
  position: relative;
  min-height: 99vh;

  .name {
    font-size: 4rem;
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;

    .secondary-text {
      color: blue;
      margin-left: 1rem;
    }
  }
  .icon-container {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
  }
}
