:local(.HamburgerMenu) {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;

  .hamburger-menu-icon,
  .XMark-icon {
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
  }

  .hamburger-menu-icon {
    background-color: #4885a7;
  }

  .XMark-icon {
    background-color: #8468b1;
  }

  .XMark-icon:hover {
    background-color: #5e29b3;
  }
  .hamburger-menu-icon:hover {
    background-color: #016ba3;
  }

  .nav-links-container {
    font-size: 1.3rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    background: rgba(87, 80, 80, 0.82);
    line-height: 4;
    height: -webkit-fill-available;

    .nav-links {
      text-decoration: none;
      z-index: 5;
    }
  }
}
