:local(.HamburgerMenu) {
  .hamburger-menu-icon,
  .XMark-icon {
    position: fixed;
    top: 0;
    right: 0;
  }
  .nav-links-container {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;

    .nav-links {
      text-decoration: none;
      margin: 1rem;
      margin-top: 3rem;
    }
  }
}
