:local(.SocialMediaIcons) {
  .icon-buttons {
    font-size: 3rem;
    padding: 1rem;

    color: black;
    :hover {
      color: darkgray;
    }
  }
  .text {
    visibility: hidden;
    font-size: 1rem;
    color: black;
  }
  :hover .text {
    visibility: visible;
  }
}
