:local(.Projects) {
  .main-container {
    padding: 4em 0 2em 0;

    .inner-container {
      width: 90%;
      max-width: 80em;
      margin: 0 auto;

      .thumbnails {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-align-items: stretch;
        -webkit-align-items: stretch;
        -ms-align-items: stretch;
        align-items: stretch;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .box {
          border-radius: 4px;
          margin-bottom: 2em;
          background: #2c2c32;
          text-align: center;

          .image,
          img {
            border-radius: 4px;
            display: inline-block;

            border: 0;
            position: relative;
          }

          .image.fit {
            display: block;
            width: 100%;
          }

          .image.fit img {
            width: 100%;
          }

          .inner-content {
            padding: 1.5em;
            width: 100% !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1600px) {
    .thumbnails,
    .box {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: 1280px) {
    .thumbnails,
    .box {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: 736px) {
    .thumbnails,
    .box {
      width: 95%;
    }
  }

  @media screen and (max-width: 736px) {
    .main-container {
      padding: 3em 0 1em 0;
    }
  }

  @media screen and (max-width: 480px) {
    .main-container,
    .inner-container {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: 736px) {
    .main-container {
      padding: 3em 0 1em 0;
    }
  }
}
